.service {
    &-container{
        display: flex;
        justify-content: space-between;
    }
    &__img {
        position: relative;
        width: 100%;
        max-width: 50.8rem;
    }
    .img-top {
        position: absolute;
        left: 0;
    }
    .img-bottom {
        position: absolute;
        right: 0;
        bottom: -5.1rem;
    }
    &__text {
    }
    &__title {
        font-family: Poppins;
        font-size: 5.8rem;
        font-weight: 700;
        line-height: 8.7rem;
        text-align: left;
        margin-bottom: 4.1rem;
    }
    &__desc {
        width: 100%;
        max-width: 57.7rem;
        font-family: Poppins;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 3.3rem;
        letter-spacing: 0em;
        text-align: left;
    }
}